.dropdown__item {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: start;

  background-color: #2F2F2F;
  border: 1px solid #2F2F2F;

  &:hover {
    background-color: #1f1f1f;
  }
}