.dropdown__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 17px;
  text-align: start;

  background-color: #2f2f2f;
  border: 1px solid #2f2f2f;
  padding: 4px 0 4px 10px;

  &:hover {
    background-color: #1f1f1f;
  }
}
