.card {
  position: relative;

  display: flex;
  flex-direction: column;

  list-style-type: none;

  padding-top: 56%;

  &__trailer-link {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: calc(100% - 79px);
  }

  &__image {
    width: 100%;
    height: 100%;

    object-position: center;
    object-fit: cover;
  }

  &__title {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;

    margin: 0;
  }

  &__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;

    margin: 0;

    padding-top: 6px;
    border-top: 1px solid #424242;
  }

  &__container {
    display: flex;
    justify-content: space-between;

    min-height: 32px;

    margin-top: 14px;
    margin-bottom: 13px;
  }

  &__button-like {
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #313131;
    background-image: url('../../images/like.svg');
    background-size: 9px 9px;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    border-radius: 50%;

    &_active {
      background-image: url('../../images/like-active.svg');
    }
  }

  &__button-delete {
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #313131;
    background-image: url('../../images/delete.svg');
    background-size: 9px 9px;
    background-position: center;
    background-repeat: no-repeat;

    border: none;
    border-radius: 50%;
    opacity: 0;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

@media screen and (max-width: 520px) {
  .card {
    &__trailer-link {
      height: calc(100% - 78px);
    }

    &__title {
      font-size: 12px;
      line-height: 15px;
    }
  
    &__duration {
      font-size: 10px;
      line-height: 12px;
    }
  }
}