%font {
  font: {
    family: 'Inter', Arial, sans-serif;
    style: normal;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.page {
  @extend %font;
  min-width: 320px;
  min-height: 100vh;
  color: #fff;
  background-color: #102031;

  display: flex;
  flex-direction: column;
  align-items: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &__section {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media screen and (max-width: 1090px) {
  .page {
    &__section {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

@media screen and (max-width: 520px) {
  .page {
    &__section {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}

.link {
  @extend %font;
  color: #fff;
  transition: opacity 0.5s ease-in-out;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.button {
  @extend %font;
  color: #fff;
  transition: opacity 0.5s ease-in-out;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

.input {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;

  border-radius: 8px;
  background-color: #2f2f2f;
  color: #fff;
  border: none;
  box-sizing: border-box;
}
